body{
	text-overflow: none;
	font-family: 'Open Sans',Arial,sans-serif;
	resize: both;
	overflow: auto;
}


.container{
	margin: 0px;
	padding-left: 0px;
	width: 100%;
	text-overflow: none;
	resize: both;
	overflow: auto;
}

.col-lg-3{
	padding-left:30px;
	margin-left: 0;
}

#header{
	margin: 15px;
	margin-right: 0px;
	font-size: 15px;
}


.col-lg-9{
	padding-top: 10px;
	border-left: 5px solid rgba(0,0,0,0.5);
}


#main-doc{
	margin: 0;
}

.main-section{
	padding-top: 10px;
	padding: 15px;
	margin: 0;
}

header{
	margin-left: 5px;
	font-size: 30px;
	color: black;
}

p{
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	color: rgba(0,0,0,0.7);
}

li{
	padding-left: 10px;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 15px;
	text-overflow: none;
	color: rgba(0,0,0,0.7);
}
